<div class="row">
    <div class="player">
        <div>
            <span class="score">{{playerScore}}</span>
            <img src="https://api.adorable.io/avatars/200/williamp.png"/>
        </div>
        <h1>{{this.playerMessage}}</h1>
    </div>
    <div class="player">
        <div>
                <img src="https://api.adorable.io/avatars/200/{{opponent.name}}.png"/>
                <span class="score">{{opponentScore}}</span>
        </div>      
        <h1>{{this.opponentMessage}}</h1>
    </div>
</div>

<hr/>

<div class="questions">
    <h3>Select an option:</h3>
    <div>
        <ul (click)="onClick($event)">
            <li *ngFor="let option of options">
                {{option}}
            </li>
        </ul>
    </div>
</div>
