<div class="row">
    <div class="player">
        <div>
            <span class="score">3</span>
            <img src="https://api.adorable.io/avatars/200/williamp.png"/>
        </div>
        <h1>{{this.playerMessage}}</h1>
    </div>
    <div class="player">
        <div>
                <img src="https://api.adorable.io/avatars/200/williama.png"/>
                <span class="score">3</span>
        </div>      
        <h1>{{this.opponentMessage}}</h1>
    </div>
</div>

<hr/>

<div class="questions">
    <h3>Select a riddle:</h3>
    <div>
        <ul (click)="onClick($event)">
            <li *ngFor="let riddle of riddles">
                {{riddle.question}}
            </li>
        </ul>
    </div>
</div>
