.player {
    display: inline-block;
    vertical-align: top;
    width:50%;
}

.score {
    font-size: 100px;
    vertical-align: center;
}

.row {
    background-color: white;
}

ul {
    list-style-type: none;
    text-align: left;
    font-size: large;
}

li {
    cursor: pointer;
}

li:hover {
    color: blue;
}

.questions {
    width:50%;
}